<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{data.documentationMainName}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{{relativeURL data.depth }}images/favicon.ico">
	    <link rel="stylesheet" href="{{relativeURL data.depth }}styles/style.css">
        {{#if data.theme}}
            {{#compare data.theme "!==" 'gitbook'}}
                 <link rel="stylesheet" href="{{relativeURL data.depth }}styles/{{data.theme}}.css">
            {{/compare}}
        {{/if}}
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="{{relativeURL data.depth }}" class="navbar-brand">{{data.documentationMainName}}</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            {{> search-input data }}
            {{> menu data }}
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   {{> menu data menu='normal' }}
               </div>
               <div class="content {{data.context}}">
                   <div class="content-data">

                   {{#compare data.context "===" 'getting-started'}}
                        {{~> markdown data ~}}
                   {{/compare}}

                   {{#compare data.context "===" 'overview'}}
                        {{~> overview data ~}}
                   {{/compare}}

                   {{#compare data.context "===" 'modules'}}
                        {{~> modules data ~}}
                   {{/compare}}
                   {{#compare data.context "===" 'module'}}
                        {{~> module data ~}}
                   {{/compare}}

                   {{#compare data.context "===" 'components'}}
                        {{~> components data ~}}
                   {{/compare}}
                   {{#compare data.context "===" 'component'}}
                        {{~> component data ~}}
                   {{/compare}}

                   {{#compare data.context "===" 'directives'}}
                        {{~> directives data ~}}
                   {{/compare}}
                   {{#compare data.context "===" 'directive'}}
                        {{~> directive data ~}}
                   {{/compare}}

                   {{#compare data.context "===" 'injectables'}}
                        {{~> injectables data ~}}
                   {{/compare}}
                   {{#compare data.context "===" 'injectable'}}
                        {{~> injectable data ~}}
                   {{/compare}}

                   {{#compare data.context "===" 'pipes'}}
                        {{~> pipes data ~}}
                   {{/compare}}
                   {{#compare data.context "===" 'pipe'}}
                        {{~> pipe data ~}}
                   {{/compare}}

                   {{#compare data.context "===" 'classes'}}
                        {{~> classes data ~}}
                   {{/compare}}
                   {{#compare data.context "===" 'class'}}
                        {{~> class data ~}}
                   {{/compare}}

                   {{#compare data.context "===" 'interface'}}
                        {{~> interface data ~}}
                   {{/compare}}

                   {{#compare data.context "===" 'routes'}}
                        {{~> routes data ~}}
                   {{/compare}}

                   {{#compare data.context "===" 'miscellaneous'}}
                        {{~> miscellaneous data ~}}
                   {{/compare}}

                   {{#compare data.context "===" 'coverage'}}
                        {{~> coverage-report data ~}}
                   {{/compare}}

                   {{#compare data.context "===" 'additional-page'}}
                        {{~> additional-page data ~}}
                   {{/compare}}
                   </div>
                   {{~> search-results data ~}}
               </div>
           </div>
       </div>

       <script src="{{relativeURL data.depth }}js/libs/bootstrap-native.js"></script>

       <script src="{{relativeURL data.depth }}js/libs/es6-shim.min.js"></script>
       <script src="{{relativeURL data.depth }}js/libs/EventDispatcher.js"></script>
       <script src="{{relativeURL data.depth }}js/libs/promise.min.js"></script>
       <script src="{{relativeURL data.depth }}js/libs/zepto.min.js"></script>

       <script src="{{relativeURL data.depth }}js/compodoc.js"></script>

       <script>var COMPODOC_CURRENT_PAGE_DEPTH = {{data.depth}};</script>

       <script src="{{relativeURL data.depth }}js/search/search.js"></script>
       <script src="{{relativeURL data.depth }}js/search/lunr.min.js"></script>
       <script src="{{relativeURL data.depth }}js/search/search-lunr.js"></script>

       <script src="{{relativeURL data.depth }}js/tabs.js"></script>
       <script src="{{relativeURL data.depth }}js/menu.js"></script>
       <script src="{{relativeURL data.depth }}js/libs/prism.js"></script>
       <script src="{{relativeURL data.depth }}js/sourceCode.js"></script>
       <script src="{{relativeURL data.depth }}js/search/search_index.js"></script>

    </body>
</html>
