<section data-compodoc="block-indexables">
    <h3 id="inputs">{{#if title}}{{title}}{{else}}{{t "indexable" }}{{/if}}</h3>
    {{#each indexables}}
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <code>{{indexableSignature this}}:{{> link-type type=returnType }}</code>
                    </td>
                </tr>
                {{#if line}}
                    {{#isTabEnabled ../navTabs "source"}}
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">{{t "defined-in" }} <a href="" data-line="{{{line}}}" class="link-to-prism">{{../file}}:{{{line}}}</a></div>
                            </td>
                        </tr>
                    {{/isTabEnabled}}
                {{/if}}
                {{#if description}}
                <tr>
                    <td class="col-md-4">
                        <div class="io-description">{{{parseDescription description ../depth}}}</div>
                    </td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    {{/each}}
</section>
