<section>
    <h3 id="outputs">{{t "outputs" }}</h3>
    {{#each element.outputsClass}}
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="{{name}}"></a>
                        <b>{{name}}</b>
                    </td>
                </tr>
                {{#if type}}
                <tr>
                    <td class="col-md-4">
                        <i>{{t "type" }} : </i>{{> link-type type=type }}
                    </td>
                </tr>
                {{/if}}
                {{#if line}}
                    {{#isTabEnabled ../navTabs "source"}}
                        {{#if inheritance}}
                            <tr>
                                <td class="col-md-4" colspan="2">
                                    <div class="io-line">{{t "inherited-from" }} {{> link-type type=inheritance.file }}</div>
                                </td>
                            </tr>
                        {{/if}}
                        <tr>
                            <td class="col-md-2" colspan="2">
                                {{#if inheritance}}
                                    <div class="io-line">{{t "defined-in" }} {{> link-type type=inheritance.file withline=true }}</div>
                                {{else}}
                                    <div class="io-line">{{t "defined-in" }} <a href="" data-line="{{{line}}}" class="link-to-prism">{{../element.file}}:{{{line}}}</a></div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/isTabEnabled}}
                {{/if}}
                {{#if description}}
                <tr>
                    <td class="col-md-4">
                        <div class="io-description">{{{parseDescription description ../depth}}}</div>
                    </td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    {{/each}}
</section>