<section>
    <h3 id="outputs">{{t "outputs" }}</h3>
    {{#each element.outputsClass}}
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-2">
                        <a name="{{name}}"></a>
                        <code>{{name}}</code>
                    </td>
                    <td class="col-md-10">
                        {{#if description}}
                        <div>{{{parseDescription description ../depth}}}</div>
                        {{/if}}
                        {{#if type}}
                        <em><code>$event</code> {{t "type" }}:</em>{{> link-type type=type }}
                        {{/if}}
                    </td>
                </tr>
                {{#if line}}
                    {{#isTabEnabled ../navTabs "source"}}
                        {{#if inheritance}}
                            <tr>
                                <td class="col-md-4" colspan="2">
                                    <div class="io-line">{{t "inherited-from" }} {{> link-type type=inheritance.file }}</div>
                                </td>
                            </tr>
                        {{/if}}
                        <tr>
                            <td class="col-md-2" colspan="2">
                                {{#if inheritance}}
                                    <div class="io-line">{{t "defined-in" }} {{inheritance.file}}:{{{line}}}</div>
                                {{else}}
                                    <div class="io-line">{{t "defined-in" }} <a href="" data-line="{{{line}}}" class="link-to-prism">{{../element.file}}:{{{line}}}</a></div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/isTabEnabled}}
                {{/if}}
            </tbody>
        </table>
    {{/each}}
</section>