<section>
    {{#each enums}}
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="{{name}}"></a>
                        <span class="name {{#if deprecated}}deprecated-name{{/if}}"><b>{{name}}</b><a href="#{{name}}"><span class="icon ion-ios-link"></span></a></span>
                    </td>
                </tr>
                {{#if deprecated}}
                <tr>
                    <td class="col-md-4 deprecated">
                        {{{ deprecationMessage }}}
                    </td>
                </tr>
                {{/if}}
                {{#if description}}
                    <tr>
                        <td class="col-md-4">
                            <div class="io-description">{{{parseDescription description ../depth}}}</div>
                        </td>
                    </tr>
                {{/if}}
                {{#each childs}}
                    {{#if name}}
                        <tr>
                            <td class="col-md-4">
                                &nbsp;{{name}}
                            </td>
                        </tr>
                    {{/if}}
                    {{#if value}}
                        <tr>
                            <td class="col-md-4">
                                <i>{{t "value" }} : </i><code>{{value}}</code>
                            </td>
                        </tr>
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    {{/each}}
</section>
