<section>
    {{#ifString title}}<h3>{{title}}</h3>{{else}}
        <h3 id="inputs">
            Properties
        </h3>
    {{/ifString}}
    {{#each properties}}
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="{{name}}"></a>
                        <span class="name">
                            <b>
                            {{#each modifierKind}}
                                <span class="modifier">{{modifKind this}}</span>
                            {{/each}}
                            {{name}}
                            </b>
                            <a href="#{{name}}"><span class="fa fa-link"></span></a>
                        </span>
                    </td>
                </tr>
                {{#if ../file-path}}
                <tr>
                    <td class="col-md-4">
                        <i><code>{{file}}</code></i>
                    </td>
                </tr>
                {{/if}}
                <tr>
                    <td class="col-md-4">
                        {{#if modifierKind}}<span class="modifier-icon fa fa-{{modifIcon modifierKind}}"></span>{{/if}}<code>{{name}}: {{> link-type type=type }}</code>
                    </td>
                </tr>
                {{#if type}}
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>{{> link-type type=type }}
                        </td>
                    </tr>
                {{/if}}
                {{#if defaultValue}}
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>{{defaultValue}}</code>
                        </td>
                    </tr>
                {{/if}}
                {{#if decorators}}
                    <tr>
                        <td class="col-md-4">
                            <i>Decorators : </i><code>{{#each decorators}}{{name}}{{/each}}</code>
                        </td>
                    </tr>
                {{/if}}
                {{#if line}}
                    {{#unless ../disableSourceCode}}
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="{{{line}}}" class="link-to-prism">{{../file}}:{{{line}}}</a></div>
                            </td>
                        </tr>
                    {{/unless}}
                {{/if}}

                {{#if description}}
                <tr>
                    <td class="col-md-4">
                        <div class="io-description">{{{parseDescription description ../depth}}}</div>
                    </td>
                </tr>
                {{/if}}

                {{#if jsdoctags}}
                    {{#jsdoc-params-valid jsdoctags}}
                    <tr>
                        <td class="col-md-4">
                          <div class="io-description">
                              {{#jsdoc-params jsdoctags}}
                                  <b>Parameters :</b>
                                  <table class="params">
                                      <thead>
                                          <tr>
                                                <td>Name</td>
                                                {{#one-parameter-has tags 'type'}}
                                                    <td>Type</td>
                                                {{/one-parameter-has}}
                                                {{#one-parameter-has tags 'comment'}}
                                                    <td>Description</td>
                                                {{/one-parameter-has}}
                                          </tr>
                                      </thead>
                                      <tbody>
                                            {{#each tags}}
                                                <tr>
                                                    <td>{{name}}</td>
                                                    {{#one-parameter-has ../tags 'type'}}
                                                        <td>
                                                            {{#if type}}
                                                                {{> link-type type=type }}
                                                            {{/if}}
                                                        </td>
                                                    {{/one-parameter-has}}
                                                    {{#one-parameter-has ../tags 'comment'}}
                                                        <td>
                                                            {{#if comment}}
                                                                <code>{{{comment}}}</code>
                                                            {{/if}}
                                                        </td>
                                                    {{/one-parameter-has}}
                                                </tr>
                                            {{/each}}
                                      </tbody>
                                  </table>
                              {{/jsdoc-params}}
                              {{#jsdoc-example jsdoctags}}
                                  <b>Example :</b>
                                  {{#each tags}}
                                      <div class="jsdoc-example-ul">
                                          {{{comment}}}
                                      </div>
                                  {{/each}}
                              {{/jsdoc-example}}
                          </div>
                        </td>
                    </tr>
                    {{/jsdoc-params-valid}}
                {{/if}}
            </tbody>
        </table>
    {{/each}}
</section>
