<section>
    <h3 id="inputs">{{#if title}}{{title}}{{else}}Properties{{/if}}</h3>
    {{#each properties}}
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <b>{{#if modifierKind}}<span class="modifier">{{modifKind modifierKind}}</span>{{/if}} {{name}}</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        {{#if modifierKind}}<span class="modifier-icon fa fa-{{modifIcon modifierKind}}"></span>{{/if}}<code>{{name}}: {{> link-type type=type }}</bcode>
                    </td>
                </tr>
                {{#if defaultValue}}
                    <tr>
                        <td class="col-md-4">
                            <i>Default value: </i><code>{{defaultValue}}</code>
                        </td>
                    </tr>
                {{/if}}
                {{#if description}}
                <tr>
                    <td class="col-md-4">
                        <div class="io-description">{{{parseDescription description ../depth}}}</div>
                    </td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    {{/each}}
</section>
