<section>
    {{#ifString title}}<h3>{{title}}</h3>{{else}}
        <h3 id="methods">
            Methods
        </h3>
    {{/ifString}}
    {{#each methods}}
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="{{name}}"></a>
                        <span class="name"><b>{{#if modifierKind}}<span class="modifier">{{modifKind modifierKind}}</span>{{/if}} {{name}}</b><a href="#{{name}}"><span class="fa fa-link"></span></a></span>
                    </td>
                </tr>
                {{#if ../file-path}}
                <tr>
                    <td class="col-md-4">
                        <i><code>{{file}}</code></i>
                    </td>
                </tr>
                {{/if}}
                {{#if argsDecorator}}
                    <tr>
                        <td class="col-md-4">
                            <i>Arguments : </i><code>{{#each argsDecorator}}'{{this}}' {{/each}}</code>
                        </td>
                    </tr>
                {{/if}}
                <tr>
                    <td class="col-md-4">
                        {{#if modifierKind}}
                            <span class="modifier-icon fa fa-{{modifIcon modifierKind}}"></span>
                        {{/if}}<code>{{{functionSignature this}}}</code>
                    </td>
                </tr>

                {{#if decorators}}
                    <tr>
                        <td class="col-md-4">
                            <i>Decorators : </i><code>{{#each decorators}}{{name}}{{/each}}</code>
                        </td>
                    </tr>
                {{/if}}

                {{#if line}}
                    {{#unless ../disableSourceCode}}
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="{{{line}}}" class="link-to-prism">{{../file}}:{{{line}}}</a></div>
                            </td>
                        </tr>
                    {{/unless}}
                {{/if}}

                {{#or jsdoctags returnType}}
                <tr>
                    <td class="col-md-4">
                        {{#if description}}
                            <div class="io-description">{{{parseDescription description ../depth}}}</div>
                        {{/if}}

                        {{#if jsdoctags}}
                            {{#jsdoc-params-valid jsdoctags}}
                            <div class="io-description">
                                {{#jsdoc-params jsdoctags}}
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                <td>Type</td>
                                                <td>Optional</td>
                                                <td>Description</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each tags}}
                                                <tr>
                                                  <td>{{name}}</td>
                                                  <td>
                                                  {{#if type}}
                                                      {{> link-type type=type }}
                                                  {{/if}}
                                                  </td>
                                                  <td>
                                                  {{#if optional}}
                                                      true
                                                  {{/if}}
                                                  </td>
                                                  <td>{{{comment}}}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                {{/jsdoc-params}}
                            </div>
                            {{/jsdoc-params-valid}}
                            <div>
                                {{#jsdoc-code-example jsdoctags}}
                                    <b>Example :</b>
                                    {{#each tags}}
                                        <div>
                                            {{{comment}}}
                                        </div>
                                    {{/each}}
                                {{/jsdoc-code-example}}
                            </div>
                        {{/if}}
                        {{#if returnType}}
                            <div class="io-description">
                                <b>Returns : </b>{{> link-type type=returnType }}
                            </div>
                            {{#if jsdoctags}}
                                <div class="io-description">
                                    {{{jsdoc-returns-comment jsdoctags}}}
                                </div>
                            {{/if}}
                        {{/if}}
                    </td>
                </tr>
                {{/or}}
            </tbody>
        </table>
    {{/each}}
</section>
