<section>
    <h3 id="constructor">{{t "constructor" }}</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        {{#if constructor.modifierKind}}
                            {{#each constructor.modifierKind}}
                                <span class="modifier">{{modifKind this}}</span>
                            {{/each}}
                        {{/if}}<code>{{{functionSignature constructor}}}</code>
                    </td>
                </tr>
                {{#if constructor.line}}
                    {{#isTabEnabled navTabs "source"}}
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">{{t "defined-in" }} <a href="" data-line="{{{constructor.line}}}" class="link-to-prism">{{file}}:{{{constructor.line}}}</a></div>
                            </td>
                        </tr>
                    {{/isTabEnabled}}
                {{/if}}

                {{#or constructor.jsdoctags constructor.description}}
                <tr>
                    <td class="col-md-4">
                        {{#if constructor.description}}
                            <div class="io-description">{{{parseDescription constructor.description ./depth}}}</div>
                        {{/if}}
                        {{#if constructor.jsdoctags}}
                            {{#jsdoc-params-valid constructor.jsdoctags}}
                            <div>
                                {{#jsdoc-params constructor.jsdoctags}}
                                    <b>{{t "parameters" }} :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>{{t "name" }}</td>
                                                {{#one-parameter-has tags 'type'}}
                                                    <td>{{t "type" }}</td>
                                                {{/one-parameter-has}}
                                                <td>{{t "optional" }}</td>
                                                {{#one-parameter-has tags 'comment'}}
                                                    <td>{{t "description" }}</td>
                                                {{/one-parameter-has}}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each tags}}
                                                <tr>
                                                    {{#if name}}
                                                        <td>{{name}}</td>
                                                    {{/if}}
                                                  
                                                    {{#one-parameter-has ../tags 'type'}}
                                                        <td>
                                                            {{#if type}}
                                                                {{> link-type type=type }}
                                                            {{/if}}
                                                        </td>
                                                    {{/one-parameter-has}}
                                                  
                                                    <td>
                                                        {{#if optional}}
                                                            {{t "yes" }}
                                                        {{else}}
                                                            {{t "no" }}
                                                        {{/if}}
                                                    </td>
                                                    
                                                    {{#one-parameter-has ../tags 'comment'}}
                                                        <td>
                                                            {{#if comment}}
                                                                <code>{{{comment}}}</code>
                                                            {{/if}}
                                                        </td>
                                                    {{/one-parameter-has}}
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                {{/jsdoc-params}}
                                {{#jsdoc-example constructor.jsdoctags}}
                                    <b>{{t "example" }} :</b>
                                    {{#each tags}}
                                        <div>
                                            {{{comment}}}
                                        </div>
                                    {{/each}}
                                {{/jsdoc-example}}
                            </div>
                            {{/jsdoc-params-valid}}
                        {{/if}}
                    </td>
                </tr>
                {{/or}}
            </tbody>
        </table>
</section>
