<ol class="breadcrumb">
  <li class="breadcrumb-item">{{t "classes" }}</li>
  <li class="breadcrumb-item" {{#if class.deprecated}}
        class="breadcrumb-item deprecated-name"
    {{/if}}>{{class.name}}</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
    {{#each navTabs}}
        <li class="nav-item">
            <a href="{{this.href}}" 
                class="nav-link"
                {{#compare @index "===" 0}}class="nav-link active"{{/compare}}
                role="tab" id="{{this.id}}-tab" data-bs-toggle="tab" data-link="{{this.data-link}}">{{t this.label}}</a>
        </li>
    {{/each}}
</ul>

<div class="tab-content">
    {{#isTabEnabled navTabs "info"}}
    <div class="tab-pane fade {{#isInitialTab navTabs "info"}}active in{{/isInitialTab}}" id="info">
        <p class="comment">
            <h3>{{t "file" }}</h3>
        </p>
        <p class="comment">
            <code>{{class.file}}</code>
        </p>

        {{#if class.deprecated}}
            <p class="comment">
                <h3 class="deprecated">{{t "deprecated" }}</h3>
            </p>
            <p class="comment">
                {{{ class.deprecationMessage }}}
            </p>
        {{/if}}

        {{#if class.description}}
            <p class="comment">
                <h3>{{t "description" }}</h3>
            </p>
            <p class="comment">
                {{{parseDescription class.description depth}}}
            </p>
        {{/if}}

        {{#if class.extends}}
            <p class="comment">
                <h3>{{t "extends" }}</h3>
            </p>
            <p class="comment">
                {{#each class.extends}}
                    {{> link-type type=this }}
                {{/each}}
            </p>
        {{/if}}

        {{#if class.implements}}
            <p class="comment">
                <h3>{{t "implements" }}</h3>
            </p>
            <p class="comment">
                {{#each class.implements}}
                    {{> link-type type=this}}
                {{/each}}
            </p>
        {{/if}}

        {{#if class.jsdoctags}}
            <p class="comment">
                <h3>{{t "example" }}</h3>
            </p>
            <div class="io-description">
                {{#jsdoc-code-example class.jsdoctags}}
                    {{#each tags}}
                        <div>
                            {{{comment}}}
                        </div>
                    {{/each}}
                {{/jsdoc-code-example}}
            </div>
        {{/if}}

        {{#orLength class.properties class.methods class.accessors}}
            {{> index methods=class.methods properties=class.properties inputs=class.inputsClass outputs=class.outputsClass hostBindings=class.hostBindings hostListeners=class.hostListeners accessors=class.accessors}}
        {{/orLength}}

        {{#if class.constructorObj}}
            {{> block-constructor constructor=class.constructorObj file=class.file }}
        {{/if}}

        {{#if class.properties}}
            {{> block-property properties=class.properties file=class.file }}
        {{/if}}

        {{#if class.methods}}
            {{> block-method methods=class.methods file=class.file }}
        {{/if}}

        {{#if class.indexSignatures}}
            {{> block-index indexables=class.indexSignatures file=class.file }}
        {{/if}}

        {{#if class.inputsClass}}
            {{> block-input element=class file=class.file }}
        {{/if}}

        {{#if class.outputsClass}}
            {{> block-output element=class file=class.file }}
        {{/if}}

        {{#if class.hostBindings}}
            {{> block-property properties=class.hostBindings file=class.file title="HostBindings" }}
        {{/if}}

        {{#if class.hostListeners}}
            {{> block-method methods=class.hostListeners file=class.file title="HostListeners" }}
        {{/if}}

        {{#if class.accessors}}
            {{> block-accessors accessors=class.accessors file=class.file }}
        {{/if}}
    </div>
    {{/isTabEnabled}}

    {{#isTabEnabled navTabs "readme"}}
    <div class="tab-pane fade {{#isInitialTab navTabs "readme"}}active in{{/isInitialTab}}" id="readme">
        <p>{{{class.readme}}}</p>
    </div>
    {{/isTabEnabled}}

    {{#isTabEnabled navTabs "source"}}
    <div class="tab-pane fade {{#isInitialTab navTabs "source"}}active in{{/isInitialTab}} tab-source-code" id="source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">{{ class.sourceCode}}</code></pre>
    </div>
    {{/isTabEnabled}}
</div>
