<ol class="breadcrumb">
  <li><a href="/components.html">Components</a></li>
  <li>{{name}}</li>
</ol>

{{#if component.typedocData.comment}}
<p class="comment">
    {{component.typedocData.comment.shortText}}
    {{component.typedocData.comment.text}}
</p>
{{/if}}

<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>
            <tr>
                <td class="col-md-3">file</td>
                <td class="col-md-9"><code>{{component.file}}</code></td>
            </tr>

            <!-- Official order -->

            {{#if component.animations}}
            <tr>
                <td class="col-md-3">animations</td>
                <td class="col-md-9"><code>{{component.animations}}</code></td>
            </tr>
            {{/if}}

            {{#if component.changeDetection}}
            <tr>
                <td class="col-md-3">changeDetection</td>
                <td class="col-md-9"><code>{{component.changeDetection}}</code></td>
            </tr>
            {{/if}}

            {{#if component.encapsulation}}
            <tr>
                <td class="col-md-3">encapsulation</td>
                <td class="col-md-9"><code>{{component.encapsulation}}</code></td>
            </tr>
            {{/if}}

            {{#if component.entryComponents}}
            <tr>
                <td class="col-md-3">entryComponents</td>
                <td class="col-md-9"><code>{{component.entryComponents}}</code></td>
            </tr>
            {{/if}}

            {{#if component.exportAs}}
            <tr>
                <td class="col-md-3">exportAs</td>
                <td class="col-md-9"><code>{{component.exportAs}}</code></td>
            </tr>
            {{/if}}

            {{#if component.host}}
            <tr>
                <td class="col-md-3">host</td>
                <td class="col-md-9"><code>{{object component.host}}</code></td>
            </tr>
            {{/if}}

            {{#if component.inputs}}
            <tr>
                <td class="col-md-3">inputs</td>
                <td class="col-md-9"><code>{{breakComma component.inputs}}</code></td>
            </tr>
            {{/if}}

            {{#if component.interpolation}}
            <tr>
                <td class="col-md-3">host</td>
                <td class="col-md-9"><code>{{component.interpolation}}</code></td>
            </tr>
            {{/if}}

            {{#if component.moduleId}}
            <tr>
                <td class="col-md-3">moduleId</td>
                <td class="col-md-9"><code>{{component.moduleId}}</code></td>
            </tr>
            {{/if}}

            {{#if component.outputs}}
            <tr>
                <td class="col-md-3">outputs</td>
                <td class="col-md-9"><code>{{breakComma component.outputs}}</code></td>
            </tr>
            {{/if}}

            {{#if component.providers}}
            <tr>
                <td class="col-md-3">providers</td>
                <td class="col-md-9">
                    <code>
                    {{#each component.providers}}
                        {{name}}
                    {{/each}}
                    </code>
                </td>
            </tr>
            {{/if}}

            {{#if component.queries}}
            <tr>
                <td class="col-md-3">queries</td>
                <td class="col-md-9"><code>{{component.queries}}</code></td>
            </tr>
            {{/if}}

            {{#if component.selector}}
            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>{{component.selector}}</code></td>
            </tr>
            {{/if}}

            {{#if component.styleUrls}}
            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>{{breakComma component.styleUrls}}</code></td>
            </tr>
            {{/if}}

            {{#if component.styles}}
            <tr>
                <td class="col-md-3">styles</td>
                <td class="col-md-9"><code>{{component.styles}}</code></td>
            </tr>
            {{/if}}

            {{#if component.template}}
            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><code>{{breaklines component.template}}</code></td>
            </tr>
            {{/if}}

            {{#if component.templateUrl}}
            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>{{component.templateUrl}}</code></td>
            </tr>
            {{/if}}

            {{#if component.viewProviders}}
            <tr>
                <td class="col-md-3">viewProviders</td>
                <td class="col-md-9">
                    <code>
                    {{#each component.viewProviders}}
                        {{name}}
                    {{/each}}
                    </code>
                </td>
            </tr>
            {{/if}}

        </tbody>
    </table>
</section>

<!--
<section>
    <h3>Inputs</h3>
    <table class="table table-sm table-hover">
        <tbody>
            <tr>
                <td class="col-md-3"><code>activeIds</code></td>
                <td class="col-md-9">
                    <div><i>Type: </i><code>string | string[]</code></div>
                    <div style="margin: 10px 0">An array or comma separated strings of panel identifiers that should be opened</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-3"><code>closeOthers</code></td>
                <td class="col-md-9">
                    <div><i>Type: </i><code>boolean</code></div>
                    <div style="margin: 10px 0">Whether the other panels should be closed when a panel is opened</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-3"><code>type</code></td>
                <td class="col-md-9">
                    <div><i>Type: </i><code>string</code></div>
                    <div style="margin: 10px 0">Type of accordion's panels. Bootstrap 4 recognizes the following types: "success", "info", "warning" and "danger".</div>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <h3 id="outputs">Outputs</h3>
    <table class="table table-sm table-hover">
        <tbody>
            <tr>
                <td class="col-md-3"><code>panelChange</code></td>
                <td class="col-md-9">A panel change event fired right before the panel toggle happens. See NgbPanelChangeEvent for payload details</td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <h3 id="methods">Methods</h3>
    <table class="table table-sm table-hover">
        <tbody>
            <tr>
                <td class="col-md-3"><code>toggle</code></td>
                <td class="col-md-9">
                    <div><i>Signature: </i><code>toggle(panelId: string)</code></div>
                    <div><i>Return type: </i><code>void</code></div>
                    <div style="margin: 10px 0">Programmatically toggle a panel with a given id.</div>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <h3 id="inputs">Properties</h3>
    <table class="table table-sm table-hover">
        <tbody>
            <tr>
                <td class="col-md-3"><code>nextState</code></td>
                <td class="col-md-9">
                    <div><i>Type: </i><code>boolean</code></div>

                    <div style="margin: 10px 0">Whether the panel will be opened (true) or closed (false)</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-3"><code>panelId</code></td>
                <td class="col-md-9">
                    <div><i>Type: </i><code>string</code></div>
                    <div style="margin: 10px 0">Id of the accordion panel that is toggled</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-3"><code>preventDefault</code></td>
                <td class="col-md-9">
                    <div><i>Type: </i><code>() =&gt; void</code></div>
                    <div style="margin: 10px 0">Function that will prevent panel toggling if called</div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
-->
