<ol class="breadcrumb">
  <li>Components</li>
  <li>{{name}}</li>
</ol>

{{#if disableSourceCode}}

    {{#if component.readme}}
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
        </li>

        <li>
            <a href="#readme" role="tab" id="readme-tab" data-toggle="tab">README</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="infos">
        {{/if}}

        <p class="comment">
            <h3>File</h3>
        </p>
        <p class="comment">
            <code>{{component.file}}</code>
        </p>

        {{#if component.description}}
            <p class="comment">
                <h3>Description</h3>
            </p>
            <p class="comment">
                {{{ component.description}}}
            </p>
        {{/if}}

        <section>
            <h3>Metadata</h3>
            <table class="table table-sm table-hover">
                <tbody>
                    {{#if component.animations}}
                    <tr>
                        <td class="col-md-3">animations</td>
                        <td class="col-md-9"><code>{{component.animations}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.changeDetection}}
                    <tr>
                        <td class="col-md-3">changeDetection</td>
                        <td class="col-md-9"><code>{{component.changeDetection}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.encapsulation}}
                    <tr>
                        <td class="col-md-3">encapsulation</td>
                        <td class="col-md-9"><code>{{component.encapsulation}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.entryComponents}}
                    <tr>
                        <td class="col-md-3">entryComponents</td>
                        <td class="col-md-9"><code>{{component.entryComponents}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.exportAs}}
                    <tr>
                        <td class="col-md-3">exportAs</td>
                        <td class="col-md-9"><code>{{component.exportAs}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.host}}
                    <tr>
                        <td class="col-md-3">host</td>
                        <td class="col-md-9"><code>{{object component.host}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.inputs}}
                    <tr>
                        <td class="col-md-3">inputs</td>
                        <td class="col-md-9"><code>{{breakComma component.inputs}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.interpolation}}
                    <tr>
                        <td class="col-md-3">host</td>
                        <td class="col-md-9"><code>{{component.interpolation}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.moduleId}}
                    <tr>
                        <td class="col-md-3">moduleId</td>
                        <td class="col-md-9"><code>{{component.moduleId}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.outputs}}
                    <tr>
                        <td class="col-md-3">outputs</td>
                        <td class="col-md-9"><code>{{breakComma component.outputs}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.providers}}
                    <tr>
                        <td class="col-md-3">providers</td>
                        <td class="col-md-9">
                            <code>
                            {{#each component.providers}}
                                {{name}}
                            {{/each}}
                            </code>
                        </td>
                    </tr>
                    {{/if}}

                    {{#if component.queries}}
                    <tr>
                        <td class="col-md-3">queries</td>
                        <td class="col-md-9"><code>{{component.queries}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.selector}}
                    <tr>
                        <td class="col-md-3">selector</td>
                        <td class="col-md-9"><code>{{component.selector}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.styleUrls}}
                    <tr>
                        <td class="col-md-3">styleUrls</td>
                        <td class="col-md-9"><code>{{breakComma component.styleUrls}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.styles}}
                    <tr>
                        <td class="col-md-3">styles</td>
                        <td class="col-md-9"><code>{{component.styles}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.template}}
                    <tr>
                        <td class="col-md-3">template</td>
                        <td class="col-md-9"><code>{{breaklines component.template}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.templateUrl}}
                    <tr>
                        <td class="col-md-3">templateUrl</td>
                        <td class="col-md-9"><code>{{component.templateUrl}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.viewProviders}}
                    <tr>
                        <td class="col-md-3">viewProviders</td>
                        <td class="col-md-9">
                            <code>
                            {{#each component.viewProviders}}
                                {{name}}
                            {{/each}}
                            </code>
                        </td>
                    </tr>
                    {{/if}}

                </tbody>
            </table>
        </section>

        {{#if component.inputsClass}}
        <section>
            <h3>Inputs</h3>
            <table class="table table-sm table-hover">
                <tbody>
                    {{#each component.inputsClass}}
                        <tr>
                            <td class="col-md-3"><code>{{name}}</code></td>
                            <td class="col-md-9">
                                {{#if type}}
                                    <div><i>Type: </i><code>{{type}}</code></div>
                                {{/if}}
                                {{#if defaultValue}}
                                    <div><i>Default value: </i><code>{{defaultValue}}</code></div>
                                {{/if}}
                                {{#if description}}
                                    <div class="io-description">{{{description}}}</div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
        {{/if}}

        {{#if component.outputsClass}}
        <section>
            <h3>Outputs</h3>
            <table class="table table-sm table-hover">
                <tbody>
                    {{#each component.outputsClass}}
                        <tr>
                            <td class="col-md-3"><code>{{name}}</code></td>
                            <td class="col-md-9">
                                {{#if type}}
                                    <div><i>Type: </i><code>{{type}}</code></div>
                                {{/if}}
                                {{#if defaultValue}}
                                    <div><i>Default value: </i><code>{{defaultValue}}</code></div>
                                {{/if}}
                                {{#if description}}
                                    <div class="io-description">{{{description}}}</div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
        {{/if}}

        {{#if component.methodsClass}}
        <section>
            <h3 id="methods">Methods</h3>
            <table class="table table-sm table-hover">
                <tbody>
                    {{#each component.methodsClass}}
                        <tr>
                            <td class="col-md-3"><code>{{name}}</code></td>
                            <td class="col-md-9">
                                {{#if args}}
                                    <div><i>Signature: </i><code>{{functionSignature this}}</code></div>
                                {{/if}}
                                {{#if returnType}}
                                    <div><i>Return type: </i><code>{{returnType}}</code></div>
                                {{/if}}
                                {{#if description}}
                                    <div class="io-description">{{{description}}}</div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
        {{/if}}

        {{#if component.propertiesClass}}
        <section>
            <h3 id="inputs">Properties</h3>
            <table class="table table-sm table-hover">
                <tbody>
                    {{#each component.propertiesClass}}
                        <tr>
                            <td class="col-md-3"><code>{{name}}</code></td>
                            <td class="col-md-9">
                                {{#if type}}
                                    <div><i>Type: </i><code>{{type}}</code></div>
                                {{/if}}
                                {{#if defaultValue}}
                                    <div><i>Default value: </i><code>{{defaultValue}}</code></div>
                                {{/if}}
                                {{#if description}}
                                    <div class="io-description">{{{description}}}</div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
        {{/if}}

        {{#if component.readme}}
        </div>
        <div class="tab-pane fade" id="readme">
            <p>{{{component.readme}}}</p>
        </div>
    </div>
    {{/if}}

{{else}}

<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
    </li>
    {{#if component.readme}}
    <li>
        <a href="#readme" role="tab" id="readme-tab" data-toggle="tab">README</a>
    </li>
    {{/if}}
    <li>
        <a href="#source" role="tab" id="source-tab" data-toggle="tab">Source</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="infos">


        <p class="comment">
            <h3>File</h3>
        </p>
        <p class="comment">
            <code>{{component.file}}</code>
        </p>

        {{#if component.description}}
            <p class="comment">
                <h3>Description</h3>
            </p>
            <p class="comment">
                {{{ component.description}}}
            </p>
        {{/if}}

        <section>
            <h3>Metadata</h3>
            <table class="table table-sm table-hover">
                <tbody>
                    {{#if component.animations}}
                    <tr>
                        <td class="col-md-3">animations</td>
                        <td class="col-md-9"><code>{{component.animations}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.changeDetection}}
                    <tr>
                        <td class="col-md-3">changeDetection</td>
                        <td class="col-md-9"><code>{{component.changeDetection}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.encapsulation}}
                    <tr>
                        <td class="col-md-3">encapsulation</td>
                        <td class="col-md-9"><code>{{component.encapsulation}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.entryComponents}}
                    <tr>
                        <td class="col-md-3">entryComponents</td>
                        <td class="col-md-9"><code>{{component.entryComponents}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.exportAs}}
                    <tr>
                        <td class="col-md-3">exportAs</td>
                        <td class="col-md-9"><code>{{component.exportAs}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.host}}
                    <tr>
                        <td class="col-md-3">host</td>
                        <td class="col-md-9"><code>{{object component.host}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.inputs}}
                    <tr>
                        <td class="col-md-3">inputs</td>
                        <td class="col-md-9"><code>{{breakComma component.inputs}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.interpolation}}
                    <tr>
                        <td class="col-md-3">host</td>
                        <td class="col-md-9"><code>{{component.interpolation}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.moduleId}}
                    <tr>
                        <td class="col-md-3">moduleId</td>
                        <td class="col-md-9"><code>{{component.moduleId}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.outputs}}
                    <tr>
                        <td class="col-md-3">outputs</td>
                        <td class="col-md-9"><code>{{breakComma component.outputs}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.providers}}
                    <tr>
                        <td class="col-md-3">providers</td>
                        <td class="col-md-9">
                            <code>
                            {{#each component.providers}}
                                {{name}}
                            {{/each}}
                            </code>
                        </td>
                    </tr>
                    {{/if}}

                    {{#if component.queries}}
                    <tr>
                        <td class="col-md-3">queries</td>
                        <td class="col-md-9"><code>{{component.queries}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.selector}}
                    <tr>
                        <td class="col-md-3">selector</td>
                        <td class="col-md-9"><code>{{component.selector}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.styleUrls}}
                    <tr>
                        <td class="col-md-3">styleUrls</td>
                        <td class="col-md-9"><code>{{breakComma component.styleUrls}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.styles}}
                    <tr>
                        <td class="col-md-3">styles</td>
                        <td class="col-md-9"><code>{{component.styles}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.template}}
                    <tr>
                        <td class="col-md-3">template</td>
                        <td class="col-md-9"><code>{{breaklines component.template}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.templateUrl}}
                    <tr>
                        <td class="col-md-3">templateUrl</td>
                        <td class="col-md-9"><code>{{component.templateUrl}}</code></td>
                    </tr>
                    {{/if}}

                    {{#if component.viewProviders}}
                    <tr>
                        <td class="col-md-3">viewProviders</td>
                        <td class="col-md-9">
                            <code>
                            {{#each component.viewProviders}}
                                {{name}}
                            {{/each}}
                            </code>
                        </td>
                    </tr>
                    {{/if}}

                </tbody>
            </table>
        </section>

        {{#if component.inputsClass}}
        <section>
            <h3>Inputs</h3>
            <table class="table table-sm table-hover">
                <tbody>
                    {{#each component.inputsClass}}
                        <tr>
                            <td class="col-md-3"><code>{{name}}</code></td>
                            <td class="col-md-9">
                                {{#if type}}
                                    <div><i>Type: </i><code>{{type}}</code></div>
                                {{/if}}
                                {{#if defaultValue}}
                                    <div><i>Default value: </i><code>{{defaultValue}}</code></div>
                                {{/if}}
                                {{#if description}}
                                    <div class="io-description">{{{description}}}</div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
        {{/if}}

        {{#if component.outputsClass}}
        <section>
            <h3>Outputs</h3>
            <table class="table table-sm table-hover">
                <tbody>
                    {{#each component.outputsClass}}
                        <tr>
                            <td class="col-md-3"><code>{{name}}</code></td>
                            <td class="col-md-9">
                                {{#if type}}
                                    <div><i>Type: </i><code>{{type}}</code></div>
                                {{/if}}
                                {{#if defaultValue}}
                                    <div><i>Default value: </i><code>{{defaultValue}}</code></div>
                                {{/if}}
                                {{#if description}}
                                    <div class="io-description">{{{description}}}</div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
        {{/if}}

        {{#if component.methodsClass}}
        <section>
            <h3 id="methods">Methods</h3>
            <table class="table table-sm table-hover">
                <tbody>
                    {{#each component.methodsClass}}
                        <tr>
                            <td class="col-md-3"><code>{{name}}</code></td>
                            <td class="col-md-9">
                                {{#if args}}
                                    <div><i>Signature: </i><code>{{functionSignature this}}</code></div>
                                {{/if}}
                                {{#if returnType}}
                                    <div><i>Return type: </i><code>{{returnType}}</code></div>
                                {{/if}}
                                {{#if description}}
                                    <div class="io-description">{{{description}}}</div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
        {{/if}}

        {{#if component.propertiesClass}}
        <section>
            <h3 id="inputs">Properties</h3>
            <table class="table table-sm table-hover">
                <tbody>
                    {{#each component.propertiesClass}}
                        <tr>
                            <td class="col-md-3"><code>{{name}}</code></td>
                            <td class="col-md-9">
                                {{#if type}}
                                    <div><i>Type: </i><code>{{type}}</code></div>
                                {{/if}}
                                {{#if defaultValue}}
                                    <div><i>Default value: </i><code>{{defaultValue}}</code></div>
                                {{/if}}
                                {{#if description}}
                                    <div class="io-description">{{{description}}}</div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
        {{/if}}

    </div>
    {{#if component.readme}}
    <div class="tab-pane fade" id="readme">
        <p>{{{component.readme}}}</p>
    </div>
    </div>
    {{/if}}
    <div class="tab-pane fade tab-source-code" id="source">
        <pre><code class="hljs javascript">{{ component.sourceCode}}</code></pre>
    </div>
</div>

{{/if}}
