<ol class="breadcrumb">
  <li><a href="/components.html">Components</a></li>
  <li>{{name}}</li>
</ol>

<p>
    <b>File: </b>{{module.file}}
</p>
<p>
    <b>Selector: </b>{{module.selector}}
</p>

<div class="container-fluid module">
    <div class="row">
        {{#if module.declarations}}
        <div class="col-sm-3">
            <h4>Declarations</h4>
            <ul class="list-group">
                {{#each module.declarations}}
                    <li class="list-group-item">
                        <a {{#compare type "===" 'component'}} href="../components/{{name}}.html" {{/compare}}>{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
        {{#if module.providers}}
        <div class="col-sm-3">
            <h4>Providers</h4>
            <ul class="list-group">
                {{#each module.providers}}
                    <li class="list-group-item">
                        {{name}}
                    </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
    </div>
</div>
