<ol class="breadcrumb">
  <li>Components</li>
  <li>{{name}}</li>
</ol>

{{#if disableSourceCode}}

    {{#if component.readme}}
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
        </li>

        <li>
            <a href="#readme" role="tab" id="readme-tab" data-toggle="tab">README</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="infos">
        {{/if}}

        {{~> component-detail component=component ~}}

        {{#if component.readme}}
        </div>
        <div class="tab-pane fade" id="readme">
            <p>{{{component.readme}}}</p>
        </div>
    </div>
    {{/if}}

{{else}}

    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
        </li>
        {{#if component.readme}}
        <li>
            <a href="#readme" role="tab" id="readme-tab" data-toggle="tab">README</a>
        </li>
        {{/if}}
        <li>
            <a href="#source" role="tab" id="source-tab" data-toggle="tab">Source</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="infos">

            {{~> component-detail component=component ~}}

        </div>
        {{#if component.readme}}
        <div class="tab-pane fade" id="readme">
            <p>{{{component.readme}}}</p>
        </div>
        {{/if}}
        <div class="tab-pane fade tab-source-code" id="source">
            <pre><code class="hljs javascript">{{ component.sourceCode}}</code></pre>
        </div>
    </div>

{{/if}}
