<section>
    <h3 id="index">{{t "index" }}</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <ul class="index-list">
                    {{#each list}}
                        <li>
                            <a href="#{{name}}" title="{{file}}" {{#if deprecated}}class="deprecated-name"{{/if}}><b>{{name}}</b>&nbsp;&nbsp;&nbsp;({{short-url file}})</a>
                        </li>
                    {{/each}}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</section>
