<section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
            {{#compare properties.length ">" 0}}
            <tr>
                <td class="col-md-4">
                    <h6><b>Properties</b></h6>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <ul class="index-list">
                    {{#each properties}}
                        <li>
                            {{#if modifierKind}}<span class="modifier">{{modifKind modifierKind}}</span>{{/if}} <a href="#{{name}}">{{name}}</a>
                        </li>
                    {{/each}}
                    </ul>
                </td>
            </tr>
            {{/compare}}
            {{#compare methods.length ">" 0}}
            <tr>
                <td class="col-md-4">
                    <h6><b>Methods</b></h6>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <ul class="index-list">
                    {{#each methods}}
                        <li>
                            {{#if modifierKind}}<span class="modifier">{{modifKind modifierKind}}</span>{{/if}} <a href="#{{name}}">{{name}}</a>
                        </li>
                    {{/each}}
                    </ul>
                </td>
            </tr>
            {{/compare}}
            {{#compare inputs.length ">" 0}}
            <tr>
                <td class="col-md-4">
                    <h6><b>Inputs</b></h6>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <ul class="index-list">
                    {{#each inputs}}
                        <li>
                            <a href="#{{name}}">{{name}}</a>
                        </li>
                    {{/each}}
                    </ul>
                </td>
            </tr>
            {{/compare}}
            {{#compare outputs.length ">" 0}}
            <tr>
                <td class="col-md-4">
                    <h6><b>Outputs</b></h6>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <ul class="index-list">
                    {{#each outputs}}
                        <li>
                            <a href="#{{name}}">{{name}}</a>
                        </li>
                    {{/each}}
                    </ul>
                </td>
            </tr>
            {{/compare}}
            {{#compare hostBindings.length ">" 0}}
            <tr>
                <td class="col-md-4">
                    <h6><b>HostBindings</b></h6>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <ul class="index-list">
                    {{#each hostBindings}}
                        <li>
                            <a href="#{{name}}">{{name}}</a>
                        </li>
                    {{/each}}
                    </ul>
                </td>
            </tr>
            {{/compare}}
            {{#compare hostListeners.length ">" 0}}
            <tr>
                <td class="col-md-4">
                    <h6><b>HostListeners</b></h6>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <ul class="index-list">
                    {{#each hostListeners}}
                        <li>
                            <a href="#{{name}}">{{name}}</a>
                        </li>
                    {{/each}}
                    </ul>
                </td>
            </tr>
            {{/compare}}
        </tbody>
    </table>
</section>
