<ol class="breadcrumb">
  <li>Interfaces</li>
  <li>{{name}}</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#info" id="info-tab" role="tab" data-toggle="tab" data-link="info">Info</a>
    </li>

    {{#if interface.readme}}
    <li>
        <a href="#readme" role="tab" id="readme-tab" data-toggle="tab" data-link="readme">README</a>
    </li>
    {{/if}}

    {{#unless disableSourceCode}}
    <li>
        <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
    </li>
    {{/unless}}
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="info">
        <p class="comment">
            <h3>File</h3>
        </p>
        <p class="comment">
            <code>{{interface.file}}</code>
        </p>

        {{#if interface.description}}
            <p class="comment">
                <h3>Description</h3>
            </p>
            <p class="comment">
                {{{parseDescription interface.description depth}}}
            </p>
        {{/if}}

        {{#if interface.methods}}
            {{> block-method methods=interface.methods file=interface.file }}
        {{/if}}

        {{#if interface.indexSignatures}}
            {{> block-index indexables=interface.indexSignatures file=interface.file }}
        {{/if}}

        {{#if interface.properties}}
            <section>
                <h3 id="inputs">Properties</h3>
                {{#each interface.properties}}
                    <table class="table table-sm table-bordered">
                        <tbody>
                            {{#if name}}
                                <tr>
                                    <td class="col-md-4">
                                        <b>{{name}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        <code>{{name}}: {{> link-type type=type }}</bcode>
                                    </td>
                                </tr>

                                {{#jsdoc-default jsdoctags}}
                                <tr>
                                    <td class="col-md-4">
                                        <i>Default value : </i><code>{{{clean-paragraph tag.comment}}}</code>
                                    </td>
                                </tr>
                                {{/jsdoc-default}}

                                {{#if type}}
                                    <tr>
                                        <td class="col-md-4">
                                            <i>Type : </i>{{> link-type type=type }}
                                        </td>
                                    </tr>
                                {{/if}}

                                {{#if defaultValue}}
                                    <tr>
                                        <td class="col-md-4">
                                            <i>Default value: </i><code>{{defaultValue}}</code>
                                        </td>
                                    </tr>
                                {{/if}}

                            {{else}}

                                {{#if args}}
                                    <tr>
                                        <td class="col-md-4">
                                            <i>Signature :</i>
                                            <code>
                                                <!--ts.SyntaxKind.CallSignature-->
                                                {{#compare ../interface.kind "===" 151 }}
                                                    {{{functionSignature this}}}
                                                {{else}}
                                                    {{indexableSignature this}}
                                                {{/compare}}
                                            </code>
                                        </td>
                                    </tr>
                                {{/if}}


                                {{#if returnType}}
                                    <tr>
                                        <td class="col-md-4">
                                            <i>Returns : </i>{{> link-type type=returnType }}
                                        </td>
                                    </tr>
                                {{/if}}

                                {{#if jsdoctags}}
                                    <tr>
                                        <td class="col-md-4">
                                          <div class="io-description">
                                              {{#jsdoc-params jsdoctags}}
                                                  <b>Parameters :</b>
                                                  <ul class="jsdoc-params">
                                                      {{#each tags}}
                                                          <li>
                                                              <div>
                                                                  <b>{{name}}</b>
                                                                  {{#if type}}
                                                                      : {{> link-type type=type }}
                                                                  {{/if}}
                                                              </div>
                                                              <div>
                                                                  {{{comment}}}
                                                              </div>
                                                          </li>
                                                      {{/each}}
                                                  </ul>
                                              {{/jsdoc-params}}
                                              {{#jsdoc-example jsdoctags}}
                                                  <b>Example :</b>
                                                  {{#each tags}}
                                                      <div class="jsdoc-example-ul">
                                                          {{{comment}}}
                                                      </div>
                                                  {{/each}}
                                              {{/jsdoc-example}}
                                          </div>
                                        </td>
                                    </tr>
                                {{/if}}

                            {{/if}}

                            {{#if line}}
                                {{#unless ../disableSourceCode}}
                                    <tr>
                                        <td class="col-md-4">
                                            <div class="io-line">Defined in <a href="" data-line="{{{line}}}" class="link-to-prism">{{../interface.file}}:{{{line}}}</a></div>
                                        </td>
                                    </tr>
                                {{/unless}}
                            {{/if}}

                            {{#if description}}
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-description">{{{parseDescription description depth}}}</div>
                                </td>
                            </tr>
                            {{/if}}
                        </tbody>
                    </table>
                {{/each}}
            </section>
        {{/if}}
    </div>

    {{#if interface.readme}}
    <div class="tab-pane fade" id="readme">
        <p>{{{interface.readme}}}</p>
    </div>
    {{/if}}

    {{#unless disableSourceCode}}
    <div class="tab-pane fade tab-source-code" id="source">
        <pre class="line-numbers"><code class="language-typescript">{{ interface.sourceCode}}</code></pre>
    </div>
    {{/unless}}
</div>
