<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#gettingStarted"><span class="fa fa-home"></span>Getting started</a>
            </h4>
        </div>
        <div id="gettingStarted" class="panel-collapse collapse {{#compare context "===" 'readme'}}in{{/compare}} {{#compare context "===" 'overview'}}in{{/compare}}">
            <div class="panel-body">
                <table class="table">
                    {{#if readme}}
                    <tr>
                        <td>
                            <a href="./"><span class="fa fa-file-text-o"></span>README</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a {{#compare context "===" 'readme'}} href="./overview.html" {{/compare}}
                                {{#compare context "===" 'overview'}} href="./" {{/compare}}
                                {{#compare context "!==" 'overview'}} href="./overview.html" {{/compare}}
                                {{#compare context "!==" 'readme'}} href="./overview.html" {{/compare}}>
                                <span class="fa fa-th"></span>Overview
                            </a>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td>
                            <a href="./">
                                <span class="fa fa-th"></span>Overview
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#modules"><span class="fa fa-archive">
                </span>Modules</a>
            </h4>
        </div>
        <div id="modules" class="panel-collapse collapse
                                {{#compare context "===" 'modules'}} in {{/compare}}
                                {{#compare context "===" 'module'}} in {{/compare}}">
            <div class="panel-body">
                <table class="table">
                    {{#each modules}}
                    <tr>
                        <td>
                            <a href="./modules/{{name}}.html">{{ name }}</a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    {{#if components}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#components"><span class="fa fa-cogs">
                </span>Components</a>
            </h4>
        </div>
        <div id="components" class="panel-collapse collapse
                                    {{#compare context "===" 'components'}} in {{/compare}}
                                    {{#compare context "===" 'component'}} in {{/compare}}">
            <div class="panel-body">
                <table class="table">
                    {{#each components}}
                    <tr>
                        <td>
                            <a href="./components/{{name}}.html">{{ name }}</a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if directives}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#directives"><span class="fa fa-code">
                </span>Directives</a>
            </h4>
        </div>
        <div id="directives" class="panel-collapse collapse {{#compare context "===" 'directives'}} in {{/compare}}">
            <div class="panel-body">
                <table class="table">
                    {{#each directives}}
                    <tr>
                        <td>
                            <a href="./directives/{{name}}.html">{{ name }}</a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if classes}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#classes"><span class="fa fa-file-code-o">
                </span>Classes</a>
            </h4>
        </div>
        <div id="classes" class="panel-collapse collapse {{#compare context "===" 'classes'}} in {{/compare}}">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="./">Class 1</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./">Class 2</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if routes}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#routes"><span class="fa fa-code-fork">
                </span>Routes</a>
            </h4>
        </div>
        <div id="routes" class="panel-collapse collapse {{#compare context "===" 'routes'}} in {{/compare}}">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="./">Route 1</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./">Route 2</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if injectables}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#injectables"><span class="fa fa-long-arrow-down">
                </span>Injectables</a>
            </h4>
        </div>
        <div id="injectables" class="panel-collapse collapse {{#compare context "===" 'injectables'}} in {{/compare}}">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="./">Service 1</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./">Service 2</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {{/if}}
    {{#unless hideGenerator}}
    <p class="copyright">
        Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">Compodoc</a>
    </p>
    {{/unless}}
</div>
