<ol class="breadcrumb">
  <li class="breadcrumb-item">{{t "miscellaneous" }}</li>
</ol>

{{#if miscellaneous.variables}}
    <h2 id="inputs"><b>{{t "variables" }}</b></h2>
    {{#each miscellaneous.groupedVariables}}
        <h4><code>{{@key}}</code></h4>
        {{> block-property properties=this title='false'}}
    {{/each}}
{{/if}}

{{#if miscellaneous.functions}}
    <h2 id="inputs"><b>{{t "functions" }}</b></h2>
    {{#each miscellaneous.groupedFunctions}}
        <h4><code>{{@key}}</code></h4>
        {{> block-method methods=this title='false'}}
    {{/each}}
{{/if}}

{{#if miscellaneous.enumerations}}
    <h2 id="inputs"><b>{{t "enumerations" }}</b></h2>
    {{#each miscellaneous.groupedEnumerations}}
        <h4><code>{{@key}}</code></h4>
        {{> block-enum enums=this title='false'}}
    {{/each}}
{{/if}}

{{#if miscellaneous.types}}
    <h2 id="inputs"><b>{{t "types" }}</b></h2>
    {{#each miscellaneous.types}}
        {{#if this.file}}
            <i><code>{{this.file}}</code></i>
        {{/if}}
        <h3>{{this.name}}</h3>
        <br/>
    {{/each}}
{{/if}}
