<ol class="breadcrumb">
  <li>Miscellaneous</li>
</ol>

{{#if miscellaneous.variables}}
    <h2 id="inputs"><b>Variables</b></h2>
    {{#each miscellaneous.groupedVariables}}
        <h4><code>{{@key}}</code></h4>
        {{> block-property properties=this title='false'}}
    {{/each}}
{{/if}}

{{#if miscellaneous.functions}}
    <h2 id="inputs"><b>Functions</b></h2>
    {{#each miscellaneous.groupedFunctions}}
        <h4><code>{{@key}}</code></h4>
        {{> block-method methods=this title='false'}}
    {{/each}}
{{/if}}

{{#if miscellaneous.enumerations}}
    <h2 id="inputs"><b>Enumerations</b></h2>
    {{#each miscellaneous.groupedEnumerations}}
        <h4><code>{{@key}}</code></h4>
        {{> block-enum enums=this title='false'}}
    {{/each}}
{{/if}}

{{#if miscellaneous.types}}
    <h2 id="inputs"><b>Types</b></h2>
    {{#each miscellaneous.types}}
        {{#if this.file}}
            <i><code>{{this.file}}</code></i>
        {{/if}}
        <h3>{{this.name}}</h3>
        <br/>
    {{/each}}
{{/if}}
