<ol class="breadcrumb">
    <li class="breadcrumb-item">{{t "modules" }}</li>
</ol>
<div class="container-fluid modules">
    <div class="row">
        {{#each modules}}
            <div class="col-md-6 col-lg-4">
                <div class="card card-module">
                    <div class="card-header">
                        <h4 class="card-title">{{name}}</h4>
                    </div>
                    <div class="card-block">
                        {{#unless ../disableGraph}}
                            {{#if graph}}
                                <p>
                                    <object id="demo-svg" type="image/svg+xml" lazy="./modules/{{name}}/dependencies.svg" style="width: 100%; height: 175px;">
                                        {{t "no-svg" }}
                                    </object>
                                </p>
                            {{else}}
                                <p class="no-graph">
                                    {{t "no-graph" }}
                                </p>
                            {{/if}}
                        {{/unless}}
                        <footer class="text-center">
                            <a href="./modules/{{name}}.html" class="btn btn-default">{{t "browse" }}</a>
                        </footer>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
