<ol class="breadcrumb">
  <li><a href="./modules.html">Modules</a></li>
  <li>{{name}}</li>
</ol>

<div class="text-center">
    <object id="demo-svg" type="image/svg+xml" data="modules/{{name}}/dependencies.svg" style="width: 100%; height: 250px;">
            Your browser does not support SVG
    </object>
    <div class="btn-group">
        <button id="zoom-in" class="btn btn-default btn-sm">Zoom in</button>
        <button id="reset" class="btn btn-default btn-sm">Reset</button>
        <button id="zoom-out" class="btn btn-default btn-sm">Zoom out</button>
    </div>
</div>
<script src="js/svg-pan-zoom.min.js"></script>
<script src="js/svg-pan-zoom.controls.js"></script>

<p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>{{module.file}}</code>
</p>

{{#if module.description}}
    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        {{{ module.description}}}
    </p>
{{/if}}

<div class="container-fluid module">
    <div class="row">
        {{#if module.declarations}}
        <div class="col-sm-3">
            <h3>Declarations</h3>
            <ul class="list-group">
                {{#each module.declarations}}
                    <li class="list-group-item">
                        <a {{#compare type "===" 'component'}} href="../components/{{name}}.html" {{/compare}}>{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
        {{#if module.providers}}
        <div class="col-sm-3">
            <h3>Providers</h3>
            <ul class="list-group">
                {{#each module.providers}}
                    <li class="list-group-item">
                        <a href="../injectables/{{name}}.html" >{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
        {{#if module.imports}}
        <div class="col-sm-3">
            <h3>Imports</h3>
            <ul class="list-group">
                {{#each module.imports}}
                    <li class="list-group-item">
                        <a href="../modules/{{name}}.html" >{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
        {{#if module.exports}}
        <div class="col-sm-3">
            <h3>Exports</h3>
            <ul class="list-group">
                {{#each module.exports}}
                    <li class="list-group-item">
                        <a href="../{{type}}s/{{name}}.html" >{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
        {{#if module.bootstrap}}
        <div class="col-sm-3">
            <h3>Bootstrap</h3>
            <ul class="list-group">
                {{#each module.bootstrap}}
                    <li class="list-group-item">
                        <a href="../{{type}}s/{{name}}.html" >{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
    </div>
</div>
