<ol class="breadcrumb">
  <li>Modules</li>
  <li>{{name}}</li>
</ol>

{{#unless disableGraph}}
<div class="text-center">
    <object id="demo-svg" type="image/svg+xml" data="{{relativeURL depth pageType 'root'}}modules/{{name}}/dependencies.svg" style="width: 100%; height: 250px;">
            Your browser does not support SVG
    </object>
    <div class="btn-group">
        <button id="zoom-in" class="btn btn-default btn-sm">Zoom in</button>
        <button id="reset" class="btn btn-default btn-sm">Reset</button>
        <button id="zoom-out" class="btn btn-default btn-sm">Zoom out</button>
    </div>
</div>
<script src="{{relativeURL depth pageType 'root'}}js/libs/svg-pan-zoom.min.js"></script>
<script src="{{relativeURL depth pageType 'root'}}js/svg-pan-zoom.controls.js"></script>
{{/unless}}

{{#unless disableSourceCode}}
<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
    </li>
    <li>
        <a href="#source" role="tab" id="source-tab" data-toggle="tab">Source</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="infos">
        {{/unless}}
        <p class="comment">
            <h3>File</h3>
        </p>
        <p class="comment">
            <code>{{module.file}}</code>
        </p>

        {{#if module.description}}
            <p class="comment">
                <h3>Description</h3>
            </p>
            <p class="comment">
                {{{parseDescription module.description}}}
            </p>
        {{/if}}

        <div class="container-fluid module">
            <div class="row">
                {{#if module.declarations}}
                <div class="col-sm-3">
                    <h3>Declarations<a href="https://angular.io/docs/ts/latest/api/core/index/NgModule-interface.html#!#declarations-anchor" target="_blank"><span class="fa fa-info-circle"></span></a></h3>
                    <ul class="list-group">
                        {{#each module.declarations}}
                            <li class="list-group-item">
                                <a href="{{relativeURL ../depth ../pageType 'root'}}{{type}}s/{{name}}.html">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                {{#if module.providers}}
                <div class="col-sm-3">
                    <h3>Providers<a href="https://angular.io/docs/ts/latest/api/core/index/NgModule-interface.html#!#providers-anchor" target="_blank"><span class="fa fa-info-circle"></a></h3>
                    <ul class="list-group">
                        {{#each module.providers}}
                            <li class="list-group-item">
                                <a href="{{relativeURL ../depth ../pageType 'root'}}injectables/{{name}}.html" >{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                {{#if module.imports}}
                <div class="col-sm-3">
                    <h3>Imports<a href="https://angular.io/docs/ts/latest/api/core/index/NgModule-interface.html#!#imports-anchor" target="_blank"><span class="fa fa-info-circle"></a></h3>
                    <ul class="list-group">
                        {{#each module.imports}}
                            <li class="list-group-item">
                                {{#filterAngular2Modules name}}
                                    {{name}}
                                {{else}}
                                    <a href="{{relativeURL ../depth ../pageType 'root'}}modules/{{name}}.html" >{{name}}</a>
                                {{/filterAngular2Modules}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                {{#if module.exports}}
                <div class="col-sm-3">
                    <h3>Exports<a href="https://angular.io/docs/ts/latest/api/core/index/NgModule-interface.html#!#exports-anchor" target="_blank"><span class="fa fa-info-circle"></a></h3>
                    <ul class="list-group">
                        {{#each module.exports}}
                            <li class="list-group-item">
                                {{#filterAngular2Modules name}}
                                    {{name}}
                                {{else}}
                                    <a href="{{relativeURL ../depth ../pageType 'root'}}{{type}}s/{{name}}.html" >{{name}}</a>
                                {{/filterAngular2Modules}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                {{#if module.bootstrap}}
                <div class="col-sm-3">
                    <h3>Bootstrap<a href="https://angular.io/docs/ts/latest/api/core/index/NgModule-interface.html#!#bootstrap-anchor" target="_blank"><span class="fa fa-info-circle"></a></h3>
                    <ul class="list-group">
                        {{#each module.bootstrap}}
                            <li class="list-group-item">
                                <a href="{{relativeURL ../depth ../pageType 'root'}}{{type}}s/{{name}}.html" >{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            </div>
        </div>
    {{#unless disableSourceCode}}
    </div>
    <div class="tab-pane fade tab-source-code" id="source">
        <pre><code class="hljs javascript">{{ module.sourceCode}}</code></pre>
    </div>
</div>
{{/unless}}
