{{#if packageDependencies}}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{t "dependencies" }}</li>
    </ol>
    <ul class="dependencies-list">
        {{#each packageDependencies}}
        <li>
            <b>{{@key}}</b> : {{this}}</li>
        {{/each}}
    </ul>
{{/if}}

{{#if packagePeerDependencies}}

    {{#if packageDependencies}}
    <br/>
    {{/if}}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{t "peer-dependencies" }}</li>
    </ol>
    <ul class="dependencies-list">
        {{#each packagePeerDependencies}}
        <li>
            <b>{{@key}}</b> : {{this}}</li>
        {{/each}}
    </ul>
{{/if}}