<ol class="breadcrumb">
  <li>Pipes</li>
  <li>{{name}}</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#info" id="info-tab" role="tab" data-toggle="tab" data-link="info">Info</a>
    </li>

    {{#if pipe.readme}}
    <li>
        <a href="#readme" role="tab" id="readme-tab" data-toggle="tab" data-link="readme">README</a>
    </li>
    {{/if}}

    {{#unless disableSourceCode}}
    <li>
        <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
    </li>
    {{/unless}}
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="info">

        <p class="comment">
            <h3>File</h3>
        </p>
        <p class="comment">
            <code>{{pipe.file}}</code>
        </p>

        {{#if pipe.description}}
            <p class="comment">
                <h3>Description</h3>
            </p>
            <p class="comment">
                {{{parseDescription pipe.description depth}}}
            </p>
        {{/if}}

        {{#if pipe.jsdoctags}}
            <p class="comment">
                <h3>Example</h3>
            </p>
            <div class="io-description">
                {{#jsdoc-code-example pipe.jsdoctags type='javascript'}}
                    {{#each tags}}
                        <div>
                            {{{comment}}}
                        </div>
                    {{/each}}
                {{/jsdoc-code-example}}
            </div>
        {{/if}}

    </div>

    {{#if pipe.readme}}
    <div class="tab-pane fade" id="readme">
        <p>{{{pipe.readme}}}</p>
    </div>
    {{/if}}

    {{#unless disableSourceCode}}
    <div class="tab-pane fade tab-source-code" id="source">
        <pre class="line-numbers"><code class="language-typescript">{{ pipe.sourceCode}}</code></pre>
    </div>
    {{/unless}}
</div>
