<ol class="breadcrumb">
    <li>{{t "routes" }}</li>
</ol>

<div id="body-routes"></div>

<script src="{{relativeURL depth 'routes'}}js/libs/d3.v3.min.js"></script>
<script src="{{relativeURL depth 'routes'}}js/libs/innersvg.js"></script>

<script src="{{relativeURL depth 'routes'}}js/routes/routes_index.js"></script>
<script src="{{relativeURL depth 'routes'}}js/routes.js"></script>